<html>

<head>

    <link rel="stylesheet" type="text/css" href="/static/styles/navigation.css">

<body>
        <div id=navigation>
        <a href="{ {url_for('send')} }">Send a Message</a>
        <br>
        <a href="{ {url_for('inbox') } }">Check Message Summary</a>
        <br>
        <a href="{ {url_for('user_to_user') }}">Check Messages From specific User</a>

        <br>
        <br>
        <br>

        <a href="{ {url_for('logout')} }">Log out</a>
                           
        </div>        

        <div id=main>
            {{data}}
        </div>




</body>
</html>                                        
