<html>

<head>
    <style type="text/css">
        #navigation {border:2px solid red;
            position:absolute;
            width:300px;
            height:400px;
            top:40px;
            left:35px;
            overflow: visible;
        }

        #main {border:2px solid red;

            position:absolute;
            width: 400px;
            overflow-y: scroll;
            height: 500px;
            top:40px;
            left:500px;
        }
    </style>
</head>


<body>
        <div id=navigation>
        <a href="http://127.0.0.1:5000/send">Send a Message</a>
        <br>
        <a href="http://127.0.0.1:5000/inbox">Check Message Summary</a>
        <br>
        <a href="http://127.0.0.1:5000/user_to_user">Check Messages From specific User</a>
                           
        </div>        

        <div id=main>
            {{data}}
        </div>




</body>
</html>                                        
