<html>

<head>
      <link rel="stylesheet" type="text/css" href="/static/styles/navigation.css"> 
</head>


<body>
        <div id=navigation>
        <a href="http://127.0.0.1:5000/send">Send a Message</a>
        <br>
        <a href="http://127.0.0.1:5000/inbox">Check Message Summary</a>
        <br>
        <a href="http://127.0.0.1:5000/user_to_user">Check Messages From specific User</a>
                           
        <br>
        <br>
        <br>
        <a href="http://127.0.0.1:5000/logout">Log out</a>
  
        </div>        
        
        <div id=main>
        Send a message
        <form action = "" method = "post" id=sendform>
            <p>Send to:<input type = text name = send_to></p>
            <p><input type = submit value = Send></p>
        </form>
        <textarea form ="sendform" name="message" cols="35" wrap="soft"></textarea>
        </div>




</body>
</html>                                        
